.mainSearch {
    display: flex;
    //align-items: center;
    justify-content: center;
    //flex-direction: column;
    //height: 300px;
    //border-radius: 0px 0px 40px 40px;
  }
  
  .main__title {
    color: white;
    font-size: 25px;
  }

  .containerSearch {
    //flex-direction: row;
    //width: 80%;
    position: relative;
  }

  .inputSearch {
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    //margin-left: 100px;
    margin-bottom: 20px;
    outline: none;
    padding: 5px 30px 5px 10px;
    
  }
  ::placeholder {
    color: white;
  }
  
  .buttonSearch{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    border: none;
    background: none;
    color: white;
  }
  
  .inputSearch:focus,
  .buttonSearch:focus {
    outline: none;
    border:1px solid #f88ec2;
    box-shadow: 0 0 5px #ebbed4;
  }

  @media (max-width: 560px) { 
    .containerSearch{
        flex-direction: column;
        //flex-wrap: wrap;
        //justify-content: center;
    }
    .input{
      margin-bottom: 0px;
    }
    .icon{
      margin-left: 200px ;
    }
  }