.Spinner{
    display: flex;
    justify-content: center;
    color: azure;
    margin: 30px; /*arreglado el salto por el spinner en la grilla */
    
}

.Spinning{
    animation: Spinner 1s linear infinite;
    
}

@keyframes Spinner  {
    0%{
        transform: rotate (0deg);
    }
    100%{transform:rotate(360deg) ;}    
    
}